@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
 
  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background: white !important;
   width: 100% !important;
  overflow-x:hidden !important;
}

/* Custom style to make Ant Design Rate stars black */
.ant-rate-star-full .anticon,
.ant-rate-star-half .anticon {
  color: black !important;
}

.ant-checkbox-checked .ant-checkbox-inner {
  background-color: #a44c6c;
  border-color: #c97a9f;
}

/* DashboardLayout.css */



.custom-sidebar-menu .ant-menu-item-selected {
  background-color: #c97a9f !important;
  color: white !important;
}

.custom-sidebar-menu .ant-menu-item:hover {
  background-color: #c97a9f !important;
  color: white !important;
}

.custom-step-line .ant-steps-item-process .ant-steps-item-icon {
  border-color: var(--line-color) !important;
  background-color: var(--line-color) !important;
}

.custom-step-line .ant-steps-item-process .ant-steps-item-tail::after {
  background-color: var(--line-color) !important;
}